//animation loadspinner
@keyframes load-spinner {
    0%,
    90% {
      opacity: 1;
      // z-index: 3;
    }
    99% {
      opacity: 0;
      z-index: 3;
    }
    100% {
      opacity: 0;
      z-index: -3;
      display: none;
    }
  }
  //animation clignottante (opacity)
@keyframes clignotte {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }