header {
  height: 65px;
  width: 100%;
  top: 0;
  display: flex;

  align-items: center;
  position: fixed;
  background: white;
  @include hombre-bas;  
  z-index: 2;
  
  & a {
    width: 30px;
    margin-left: 20px;
    text-align: center;   
    & i {
      font-size: 1.8rem;
    }
  }
  & div { 
    flex: 1;
    text-align: center;    
    //width: 300px;
    & img {
      margin-top: 5px;
      height: 30px;
    }
  }
}
