* {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  // color: black;
}

//titres
h1,h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold; 
}
//titre restaurant dans les menus + footer
h2,h4 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
}

h1{
  font-size: 1.3rem;
}
//sert pour le footer
h4 {
  font-size: 1.3rem;
  //font-weight:normal;
  color: white;
}

a {
  color: black;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 1rem;
}
//ajustement de la taille de l'icon dans le footer (devenir partenaire)
.fa-hands-helping {
  font-size: 0.8rem;
}
