// **** Variables ****
$loadspinner-duration: 3s;

// map
$breakpoint: (
  mobile: 599px,
  tablette: 1000px,
  bureau: 1200px,
);

$couleur: (
  texte: black,
  fond: #f6f6f6,
  fond-fonce: #eaeaea,
  primaire: #9356dc,
  secondaire: #ff79da,
  tertiaire: #99e2d0,
);

// **** Mixin ****
@mixin hombre-bas {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
@mixin hover-bas {
  box-shadow: 0px 3px 5px #9256dc88;
  -moz-box-shadow: 0px 3px 5px #9256dc88;
  -webkit-box-shadow: 0px 3px 5px #9256dc88;
}
@mixin flex-centrer {
  display: flex;
  justify-content: center;
  align-items: center;
}
